/*============== GERAL ================*/
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.390625vw);
}
a{
    text-decoration: none;
    color: white;
}
/*============== TOPO ================*/
header{
    background: #3B8686;
    padding: 20px 10vw 20px 10vw;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin: 12px 12px 12px 12px;
}
header nav ul li a.menu-atual{
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}
/*============== BANNER ================*/
section.banner{
    padding: 30vw 10vw 7vw 10vw;
    background:linear-gradient(rgba(128,189,154,0.2), rgba(128,189,154,0.2)), url(../imagens/back-banner.png) no-repeat center center;
    background-size: cover;
}
section.banner h2{
    font-size: 3rem;
    color: white;
    background: rgba(59, 134, 134, 0.5);
    width: 40%;
    padding: 10px 20px 10px 20px;
}